// Color Variables

$white: #fff;
$white-transparent: rgba(255,255,255,0.8);
$white-ghost: rgba(255,255,255,0.3);
$cornflower: #b5cce8;
$cornflower-dark: darken($cornflower, 40%);
$cornflower-ghost: rgba(181, 204, 232, 0.3);
$navy: #434d5d;
$gold: #cd9957;


$gray: #333;
$medium-gray: #888;
$light-gray: #ccc;
