.page-faq {
  .hero-copy-container {
    h1, h5 {
    width: 100% !important;
    margin-left: 0px !important;
    }
    h1 {
      font-size: 8em !important;
    }
  }
  .content {
    width: 60%;
    margin: 0 auto;

    h4 {
      font-size: 1.75em;
      text-align: left;
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width : 450px) {
    .content {
      width: 90% !important;
    }
    h4 {
      font-weight: bold !important;
    }
    p {
      font-weight: lighter !important;
    }
  }
}
