.page-faq {
  .hero-copy-container {
    margin-top: 30px;
    
    h1, h5 {
    width: 100% !important;
    margin-left: 0px !important;
    }
    h1 {
      font-size: 8em !important;
    }
  }
  .content {
    width: 60%;
    margin: 0 auto;

    h4 {
      font-size: 1.75em;
      text-align: left;
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width : 1200px) {

    .hero{
      background-position-y: 0px;
      h1 {
        font-size: 6em !important;
      }
      h5 {
        font-size: 1.5em !important;
      }
    }

  }

  @media only screen and (max-width : 925px) {

    .hero{
      background-position-y: 0px;
      h1 {
        font-size: 5em !important;
      }
      h5 {
        font-size: 1.5em !important;
      }
    }

  }

  @media only screen and (max-width : 825px) {

    .hero{
      background-position-y: 0px;
      h1 {
        font-size: 4em !important;
      }
      h5 {
        font-size: 1em !important;
      }
    }
  }

  @media only screen and (max-width : 650px) {

    .hero{
      background-position-y: 0px;
      h1 {
        font-size: 3em !important;
      }
      h5 {
        font-size: 1em !important;
        margin-top: 0px !important;
      }
    }
  }

  @media only screen and (max-width : 500px) {
    .hero {
      h1 {
        font-size: 2em !important;
      }
    }
    .content {
      width: 90% !important;
    }
    h4 {
      font-weight: bold !important;
    }
    p {
      font-weight: lighter !important;
    }
  }
}
