// Author: Travis Favaron
// Normalize.css
@import 'normalize';
@import 'colors';
@import 'fonts';
@import 'faq';

@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'alegre_sansregular', Helvetica, Sans-serif;
  letter-spacing: 4px;
}
h5 {
  font-family: 'Dancing Script';
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1500px;
  color: $gray;

  .hero {
    background: url("../img/_K3C1571.jpg") no-repeat;
    width: 100%;
    height: 85vh;
    background-size: 100%;
    background-position-y: -100px;
    color: $white-transparent;

    nav {
      display: block;
      height: 3.5em;
      ul {
        list-style: none;
        width: 100%;
        display: inline-block;
        float: right;

        li {
          display: inline-block;
          float: right;
          margin-right: 50px;
          padding-bottom: 10px;
          color: $white;

          &:hover {
            border-bottom: 1px solid $cornflower;

          }
        }
      }

    }

    .hero-copy-container {
      h1, h5 {
      width: 35%;
      margin-left: 5%;
      }
    }
    .logo {
      display: inline-block;
    }


    h1 {
      margin-top: 0px;
      margin-bottom: 0.67rem;
      padding-top: 3rem;
      font-size: 10rem;
      text-align: center;
      line-height: 7rem;
    }
    h5 {
      text-align: center;
      font-size: 2.5rem;
      margin-top: 3rem;
    }
  }
}

.column-left {
  width: 49%;
  display: inline-block;
  border-right: 1px solid $light-gray;
}
.column-right {
  width: 49%;
  display: inline-block;

}

.content {
  h3 {
    font-size: 3rem;
    text-align: center;
  }
}

#map1, #map2 {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.column-left, .column-right {
  color: $gray;
  margin-bottom: 50px;

  svg {
    display: block;
    margin: 0 auto;
  }

  ul {
    display: none;
  }
  span:first-child {
    font-size: 2rem;
    text-align: center;
    display: block;
  }
  h5 {
    font-size: 3rem;
    margin-top: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  p {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-size: 80%;
  }
}



@media only screen and (max-width : 1140px) {

  .hero{
    height: 90vh;
    background-position-y: 0px;
    h1 {
      font-size: 8rem !important;
      line-height: 5rem !important;
    }
    h5 {
      font-size: 1.5rem !important;
    }
  }

}

@media only screen and (max-width : 925px) {

  .hero{
    background-position-y: 0px;
    h1 {
      font-size: 6.5rem !important;
      line-height: 4.25rem !important;
    }
    h5 {
      font-size: 1.5rem !important;
    }
  }

}

@media only screen and (max-width : 750px) {

  .hero{
    background-position-y: 0px;
    h1 {
      font-size: 4.5rem !important;
      line-height: 3.25rem !important;
    }
    h5 {
      font-size: 1rem !important;
    }
  }
  nav {
    display: none;
  }
}

@media only screen and (max-width : 450px) {

  .hero{
    background-position-y: 0px;
    h1 {
      font-size: 2.5rem !important;
      line-height: 1.75rem !important;
    }
    h5 {
      font-size: 1rem !important;
      margin-top: 0px !important;
    }
  }
  nav {
    display: none;
  }
}
