// Author: Travis Favaron
@import 'normalize';
@import 'colors';
@import 'fonts';
@import 'faq';

@import url(http://fonts.googleapis.com/css?family=Dancing+Script|Lato);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

h1, h2, h3 {
  font-family: 'alegre_sansregular', Helvetica, Sans-serif;
  letter-spacing: 4px;
}
p, span, a, h4 {
    font-family: 'Lato', Helvetica;
}

h5 {
  font-family: 'Dancing Script';
}

a {
  color: $cornflower-dark;

  &:hover {
    color: $cornflower;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1500px;
  color: $gray;

  .image-bg-default {
    background: url("../img/_K3C1571.jpg") no-repeat;
    background-size: 100%;
    // background-position-y: -100px;
    height: 63vw;
  }

  .image-bg-1 {
    background: -webkit-linear-gradient(top, rgba(28,74,115, 0.5) 0%, rgba(38,84,125, 0.7) 100%), url('../img/EK3C4700.jpg');
    background-size: 100%;
    height: 50vw;
    // background-position-y: -100px;
  }

  .hero {
    color: $white-transparent;
    width: 100%;

    nav {
      display: block;
      height: 3.5em;
      padding-top: 5px;

      ul {
        list-style: none;
        width: 100%;
        height: 45px;
        padding: 0px;

        a {
          display: inline-block;
          float: right;
          margin-right: 50px;
          padding: 10px;
          color: $white;
          text-decoration: none;
        }
        a:hover {
          background-color: $white-ghost;

        }
      }

    }
    .header-wrapper h6 {
      display: none;
    }
    .icon-arrow-down:before {
      content: "";
    }

    .hero-copy-container {
      h1, h5 {
      width: 35%;
      margin-left: 5%;
      }
    }
    .logo {
      display: inline-block;
    }


    h1 {
      margin-top: 0px;
      margin-bottom: 0.25em;
      padding-top: 0.3em;
      font-size: 10em;
      text-align: center;
      line-height: 0.7em;
    }
    h5 {
      text-align: center;
      font-size: 2.5em;
      margin-top: 1em;
    }
  }
}

.column-left {
  width: 49%;
  display: inline-block;
  border-right: 1px solid $light-gray;
}
.column-right {
  width: 49%;
  display: inline-block;

}

.content {
  padding-top: 30px;
  h3 {
    font-size: 3em;
    text-align: center;
  }
}

#map1, #map2 {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

#why-two-days {
  text-align: center;
  font-style: italic;
}
.column-left, .column-right {
  color: $gray;
  margin-bottom: 50px;

  p:nth-child(1) {
    font-style: italic;
  }
  .venue-name {
    font-weight: bold;
  }
  svg {
    display: block;
    margin: 0 auto;
  }

  ul {
    display: none;
  }
  span:first-child {
    font-size: 2em;
    text-align: center;
    display: block;
  }
  h5 {
    font-size: 3em;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 0.5em;
  }
  p {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-size: 80%;
  }
}

footer {
  height: 80px;
  padding-top: 30px;
  margin-top: 40px;
  background-color: $navy;
  color: lighten($navy, 25%);
  text-align: center;
}

@media only screen and (min-width : 1600px) {
  .image-bg-default{
    height: 1000px !important;
  }
}

@media only screen and (max-width : 1140px) {

  .hero{
    background-position-y: 0px;
    h1 {
      font-size: 8em !important;
    }
    h5 {
      font-size: 1.5em !important;
    }
  }

}

@media only screen and (max-width : 925px) {

  .hero{
    background-position-y: 0px;
    h1 {
      font-size: 6.5em !important;
    }
    h5 {
      font-size: 1.5em !important;
    }
  }

}

@media only screen and (max-width : 750px) {

  .hero{
    background-position-y: 0px;
    h1 {
      font-size: 4.5em !important;
    }
    h5 {
      font-size: 1em !important;
    }
  }
  nav {
    display: none;
  }
  .column-left, .column-right {
    width: 100% !important;
    display: block !important;
    border: none !important;
  }
}

@media only screen and (max-device-width : 450px) {

  .hero{
    background-position-y: 0px;
    // border-bottom: 10px solid red;
    h1 {
      font-size: 2.5em !important;
      padding-top: 1.65em !important;
    }
    h5 {
      font-size: 1em !important;
      margin-top: 0px !important;
    }
  }
  nav {
    display: none;
  }
  .icon-arrow-down:before {
  	content: "\e608" !important;
  }
  .main-header {
		display: block;
		background-color: rgba(255,255,255,0.9);
		color: $cornflower-dark;
		z-index: 1;
		position: fixed;
		width: 100%;
		overflow: hidden;
		padding: .5em 0 0.5em 0;
		height: 2.5em;
		-webkit-transition: height 0.45s cubic-bezier(0.315, 0.63, 0.345, 1);
		-moz-transition: height 0.45s cubic-bezier(0.315, 0.63, 0.345, 1);
		-o-transition: height 0.45s cubic-bezier(0.315, 0.63, 0.345, 1);
		-ms-transition: height 0.45s cubic-bezier(0.315, 0.63, 0.345, 1);
		transition: height 0.45s cubic-bezier(0.315, 0.63, 0.345, 1);
	}
	.main-header h6 {
		font-size: 1em;
		font-weight: 300;
		text-align: center;
		color: $cornflower-dark;
		position: relative;
    text-transform: uppercase;
    margin-top: .7em;
    margin-bottom: 0px;
    display: block !important;
	}
	.main-header:before {
		position: absolute;
		bottom: 0;
		left: 50%;
		transition: all 0.45s cubic-bezier(0.315, 0.63, 0.345, 1);
		color: $cornflower-dark;
		margin-left: -0.5em;
	}
	.main-header.is-expanded:before {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		bottom: 0.25rem;
	}
	.mobile-nav {
		margin-top: 0px;
	}
	.mobile-nav ul {
		list-style: none;
		text-align: center !important;
		padding: 0;

	}
	.mobile-nav ul li {

		border-bottom: 1px solid $cornflower;
	}
	.mobile-nav ul li a {
		color: $cornflower-dark !important;
		display: block !important;
		padding: 15px 10px !important;
    float: none !important;
    width: 100% !important;
    margin-left: -0.75em;

    &:hover, &:active {
      background-color: $cornflower-ghost !important;

    }

  }

	.main-header.is-expanded {
		height: 13em;
	}


}
